@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.body-bg {
    background-color: #00adee;
    background-image: linear-gradient(315deg, #5f72be 0%, #00adee 74%);
}

.adm-logo {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 110;
    height: 50px;
    width: 126px;
}

.menu-dropdown {
    position: absolute;
    top: 40px;
    right: 40px;
}

.c-svg {
    width: 20px;
    fill: white;

    path {
        fill: white;
    }
}

.c-cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 515px) {
        top: 100%;
    }
}

.c-front-page {
    position: relative;
}